PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/ccl-dvms?retryWrites=true&w=majority
JWT_SECRET=ccl_dvms_enterprise_jwt_super_secret_key_2026_x
JWT_REFRESH_SECRET=ccl_dvms_enterprise_refresh_token_secret_key_2026_y
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
CLIENT_URL=https://ccl-digital-visitor.onrender.com
NODE_ENV=production
